/* -- Header -- */

.header {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  flex-wrap: nowrap;
}

.header_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.Arno_Van_Eetvelde {
  width: 650px;
  font-size: 48px;
  color: rgba(112, 112, 112, 1);
  cursor: pointer;
}

.header_menu_item {
  font-size: 36px;
  color: rgba(112, 112, 112, 1);
  align-self: center;
  cursor: pointer;
}

.selector_pos_0 {
  width: 10%;
  transition: transform 1s;
  transform: translate(-100%);
}

.selector_pos_1 {
  width: 10%;
  transition: transform 1s;
  transform: translate(0%);
}

.selector_pos_2 {
  width: 10%;
  transition: transform 1s;
  transform: translate(100%);
}

/* -- About Me -- */

.about_me_container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}

.about_me_spacer {
  width: 100%;
}

.about_me_text {
  width: 50%;
}
